:root{
  --body-fontfamily: Arial, Helvetica, sans-serif;
  
  --title-bgcolor: rgb(199, 199, 199);
  --title-fontsize: min(1.8em, max(1em, 3.5vmax));

  --button-color: rgb(66, 66, 235);
}

body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--body-fontfamily);
}

.title{
  margin: 0 0 15px;
  padding: 10px 0;
  background-color: var(--title-bgcolor);
  color: white;
  font-size: var(--title-fontsize);
  text-align: center;
}

.board{
  display: grid;
  margin: 20px auto;
  width: calc(100vw - 5vmax);
  max-width: 800px;
  grid: auto-flow 150px / repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  justify-content: center;
}

.board__card-container{
  perspective: 750px;
  position: relative;
  width: 100%;
  height: 100%;
}

.card{
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border: 1px solid gray;
  cursor: pointer;
}

.card-hover{
  transform: rotateY(180deg);
}

.card__front,
.card__back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
} 

.card__front{
  background-color: white;
  background-image: url("../assets/images/dog-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__back{
  background-color: gainsboro;
  transform: rotateY(180deg);
}

.score{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score__new-game{
  border-style: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
}